# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3

# Virtual environments
venv/
env/
.denv/
.venv/

# IDE / Editor stuff
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

# Logs
*.log

# Local uploads & processed images
uploads/
processed/

# Cache / Results
ocr_results.json
compare_results.json

# Environment variables
.env
